<app-dashnav></app-dashnav>
<main>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-sm-0 pb-0">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Agregar terapeuta</h2>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

    <hr>
    <div class="container">
      // FORM
    </div>

  </section>
</main>
